.react-bs-table-sizePerPage-dropdown .dropdown-toggle{
    float: left;
    margin-bottom: 20px;
}

.search-label {
    display: flex;
    float: right;
    padding-bottom: 10px;
}

.sr-only {
    font-size: 0;
}

#empleados-container{
    margin-top: 130px;
}

#empleados-buscar-container,
#empleados-crear-container{
    margin-top: 50px;
}

#empleados-crear-container .form-label{
    float: left;
    margin-top: 10px;
}

#empleados-crear-container Button{
    margin-top: 10px;
    margin-bottom: 100px;
}